<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    
    <a class="navbar-brand" href="#">GreatOutdoor</a>
  
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      Product
    </a>
    <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="product-details" routerLinkActive="active">ProductDetails</a>
            <a class="dropdown-item" routerLink="add-product" routerLinkActive="active">Add Product</a>
            <a class="dropdown-item" routerLink="list-product" routerLinkActive="active">List Of Products</a>
   </div>
    </li>
    <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Customer
            </a>
            <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="add-customer" routerLinkActive="active">Add Customer</a>
                    <a class="dropdown-item" routerLink="customerDetails" routerLinkActive="active">Customer Details</a>
                </div>
                </li>  
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      Orders
                    </a>
                    <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="order-details" routerLinkActive="active">Order Details</a>
                            <a class="dropdown-item" routerLink="add-order" routerLinkActive="active">Add Order</a>
                            <a class="dropdown-item" routerLink="list-order" routerLinkActive="active">List Of Orders</a>
                   </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Users
                      </a>
                      <div class="dropdown-menu">
                              
                              <a class="dropdown-item" routerLink="add-user" routerLinkActive="active">Add User</a>
                              
                     </div>
                      </li>       
    </nav>
<router-outlet></router-outlet>
